@import '../../styles/variables';
@import '~include-media/dist/include-media';

header {
  width: 100%;

  .color-picker {
    margin-left: -55px;
    margin-top: 15px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;

    // Hide color picker on mobile
    @include media('<medium') {
      display: none;
    }


    .color {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: 1px solid black;
      cursor: pointer;
      margin-right: 10px;

      &.blue {
        background-color: blue;
      }

      &.yellow {
        background-color: darkorange;
      }

      &.green {
        background-color: green;
      }

      &.purple {
        background-color: purple;
      }
    }
  }

  .title-wrap {
    h1 {
      font-size: em(34px);
      font-weight: 400;
    }

    nav {
    }
  }
}
