@import '../../styles/variables';
@import '~include-media/dist/include-media';

.projects {
  display: flex;
  flex-wrap: wrap;

  @include media('<medium') {
    justify-content: center;
  }

  .project-item {
    margin-bottom: 40px;

    @include media('>small') {
      flex: 1;
      min-width: 425px;
    }

    @include media('>medium') {
      margin-right: 60px;
    }

    &:last-child {
      //margin-right: 0;
    }
  }
}
