/* Change color dependent on class name*/
@mixin themeColor($color) {
  .project-item:before {
    background-color: $color;
  }
  
  .hashtag {
    color: $color;
  }

  .project-button {
    border-color: $color;

    &:hover {
      background-color: darken($color, 10%);
    }
  }
}

main {
  // Orange theme by default
  @include themeColor(darkorange);

  &.purple {
    @include themeColor(purple);
  }

  &.blue {
    @include themeColor(darkblue);
  }

  &.yellow {
    @include themeColor(darkorange);
  }

  &.green {
    @include themeColor(green);
  }
}

