h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Mono', 'Monospace';
  font-weight: 400;
}

h1 {
  font-size: em(34px);
}

h2 {
  font-size: em(27px);
}

p {
  font-family: 'Muli', 'Helvetica', 'Arial', sans-serif;
  font-size: em(18px);
  font-weight: 400;
}
