.projects-container {
  margin-top: 0;
  margin-bottom: 0;

  .projects {
    background-color: white;
    //border: 2px solid black;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("../images/gingham_plaid_background2.png");
    background-size: 350px;
  }
}
