.tag {
  font-family: 'DM Mono', 'Source Code Pro', source-code-pro, Menlo, 'Source Code', monospace;
  font-weight: 500;
  font-size: 16px;
  
  .hashtag {
    color: darkorange;
    margin-right: 5px;
  }
}
