.content-container {
  margin: 20px;
  //background-image: url(./images/gingham_plaid_background3.png);
  background-color: rgb(255, 190, 164, 0.5); // not horrible
  height: 100%;
  height: 500px; // temp
  display: flex;
}
