@import "./_mixins";

.app-container {
  margin: 5px;
  //background-image: url(./images/gingham_plaid_background3.png);
  background-color: rgb(255, 190, 164, 0.8); // not horrible
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (width >= $sm) {
    margin: 10px;
  }

  @media (width >= $md) {
    margin: 20px;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    aside {
      //background-color: rgb(177 126 99 / 80%);
      border-color: rgb(251, 135, 144);
    }

    .aside-left {
      border-radius: 10px 0 0 10px;
      border-style: dotted solid dashed double;
      border-width: 3px 2px 3px 7px;
    }

    .aside-right {
      border-radius: 0 10px 10px 0;
      border-style: dotted double dashed solid;
      border-width: 3px 7px 3px 2px;
    }
  }
}
